#home
{
    background: url(../img/home/home_lg.jpg);
}
#about
{
    background: url(../img/about/about_lg.jpg);
}
#vlog
{
    background: url(../img/vlog/vlog_lg.jpg);
}
#contact
{
    background: url(../img/contact/contact_lg.jpg);
}
/*../img/contact/contact_lg.jpg*/