#home
{
    background: url(../img/home/home_sm.jpg);
}
#about
{
    background: url(../img/about/about_sm.jpg);
}
#vlog
{
    background: url(../img/vlog/vlog_sm.jpg);
}
#contact
{
    background: url(../img/contact/contact_sm.jpg);
}