#home
{
    background: url(../img/home/home_xs.jpg);
}
#about
{
    background: url(../img/about/about_xs.jpg);
}
#vlog
{
    background: url(../img/vlog/vlog_xs.jpg);
}
#contact
{
    background: url(../img/contact/contact_xs.jpg);
}